@media screen and (max-width:760px) {
    main{
        order: 1;
        width: 100%;
    }
    aside{
        order: 2;
        width: 100%
    }
    #main-content{
        display: block;
    }
    #main-header h1{
        font-size: 2.5em;
    }
    #main-header h2{
        font-size: 1.9em;
    }
    p{
        font-size: 1.7em;
    }
    #main-nav ul{
        gap: 3.6em;
    }
    #figure-one img{
        width: 177px;
    }
    #figure-two img{
        width: 209px;
    }
    #figure-two img{
        width: 205px;
        margin: 0;
    }
}